<!--

Wallpaper:
http://austiniousi.deviantart.com/art/Ponyville-Background-324408425
//-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="nl.frankkie.bronylivewallpaper"
          android:versionCode="4"
          android:versionName="1.0.3">


    <uses-sdk
            android:minSdkVersion="7"
            android:targetSdkVersion="16"/>

    <uses-feature
            android:name="android.software.live_wallpaper"
            android:required="true" />

    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher">

        <service
                android:name=".MyWallpaperService"
                android:enabled="true"
                android:label="Brony Live Wallpaper"
                android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>

            <meta-data
                    android:name="android.service.wallpaper"
                    android:resource="@xml/wallpaper">
            </meta-data>
        </service>

        <activity
                android:name=".MyPreferencesActivity"
                android:exported="true"
                android:label="@string/app_name"/>

    </application>

</manifest>
